@charset "UTF-8";
@import "./base/common";

.wrapper{
    @include set-reactive-attribute('padding', 10, 80, 'max');
    div{
        @include set-reactive-attribute('padding', 10, 80, 'min');
    }
}
.grid-divider{
    display: flex;
    justify-content: center;
    @include grid-divider();
    .divider-item{
        position: relative;
        background: white;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
}

@media (min-width: 0px) {
    body{
        background: blue;
    }
}

@media (min-width: 600px) {
    body{
        background: yellowgreen;
    }
}