@import "./breakpoints";

$contents-width-blank: 1.75rem;
$size-list: (
    6,
    7,
    8,
    9,
    10,
    11,
    12,
    13,
    14,
    15,
    16,
    18,
    20,
    21,
    22,
    24,
    25,
    26,
    28,
    29,
    30,
    35,
    37,
    40,
    45,
    50,
    55,
    60,
    65,
    70,
    80,
);

$size-10: 0.625rem;
$size-11: 0.6875rem;
$size-12: 0.75rem;
$size-13: 0.8125rem;
$size-14: 0.875rem;
$size-15: 0.9375rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-22: 1.375rem;
$size-24: 1.5rem;
$size-25: 1.5625rem;
$size-28: 1.75rem;
$size-30: 1.875rem;
$size-35: 2.1875rem;
$size-37: 2.3125rem;
$size-40: 2.5rem;
$size-45: 2.8125rem;
$size-50: 3.125rem;
$size-55: 3.4375rem;
$size-60: 3.75rem;
$size-65: 4.0625rem;
$size-70: 4.375rem;
$size-80: 5rem;
